.form-box {
    border: 1px solid rgb(54, 103, 194);
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(0, 0, 0);
  }

.title{
    background-color: black;
      color: white;
      padding: 10px;
}
